spring.data.mongodb.host=
spring.data.mongodb.port=
spring.data.mongodb.database=

spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=

jwt.secret=
